@use '../../styles/theme.module.scss' as *;

.container {
  @include div(100%, 80%, column, clr('lt_2'));
  position: relative;
  align-items: center;
  padding: 5vh 3vw;
  gap: 2vh;
  overflow-y: scroll;
}
